<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elbow Method</title>
</head>
<body>
    <h1>Choosing the number of clusters using the elbow method involves a balance between achieving good intra-cluster cohesion and avoiding excessive fragmentation of the data into too many clusters. 
        The plot shows SSE (Sum of Square Errors) as a function of total clusters, it seems it's a good idea to select 3 clusters.</h1>
    <img src="data:image/png;base64,{{ img }}" alt="Elbow Method">
</body>
</html>
